<%= link_to "Main page", root_path %>

<div class='main'>
  <table id='table_log'>
    <%@logs.each do |l|%>
	  <tr>
	    <td ><%= l.modification %></td>
	    <td ><%= l.event %></td>
	    <td ><%= l.created_at %></td>
	  </tr>
    <% end%>
  </table>
</div>

<%= link_to "Clear logging", delete_logdatas_path, :remote => true %>



